.container {
	width: 1366px;
	margin-right: auto;
	margin-left: auto;
	.top {
		width: 100%;
		background-color: #202020;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 17px;

		&-left {
			display: flex;
			align-items: center;
			.top-left-modal{
				display: flex;
				.icon {
					font-size: 33px;
					color: white;

				}

			}
			.link {
				margin-left: 20px;
				display: flex;
				align-items: center;
				text-decoration: none;
				.top-left-title{
					font-size: 22px;
					color: white;
				}
			}

		}
		&-middle {
			display: flex;
			align-items: center;
			.form-top {
				display: flex;
				align-items: center;
				background-color: #313131;
				height: 35px;
				width: 620px;
				#searchInput {
					width: 550px;
					border: none;
					outline: none;
					padding: 7px;
					background-color: #121212;
					color: white;
				}
				#searchButton {
					display: flex;
					align-items: center;
					border: none;
					outline: none;
					background-color: transparent;
					.icon {
						font-size: 18px;
						color: #6F6F6F;
						padding: 20px;
					}
				}
				#searchButton:hover {
					.icon {
						color:#A3A3A3;
					}
				}
			}
			.btn-microphone {
				border: none;
				outline: none;
				background-color: transparent;
				margin-left: 10px;
				.icon {
					font-size: 27px;
					color: white;
				}
			}
		}
		&-right {
			display: flex;
			align-items: center;
			&-icon {
				font-size: 25px;
				color: white;
				margin-right: 25px;
			}
			.link-admin {
				text-decoration: none;
				background-color: white;
				padding:  5px ;
				border-radius: 50%;
				display: flex;
				align-items: center;
				.icon {
					font-size: 18px;
					color: black;
				}
			}
		}
	}
	.middle{
		display: flex;
		width: 100%;
		position: relative;
		&-left {
			position: absolute;
			overflow-y: scroll;
			height: 583px;
			background-color: #212121;
			width: 18%;

			.list-pages {
				width: 100%;
				list-style-type: none;
				margin: 0;
				padding: 0;
				padding-bottom: 14px;
				padding-top: 14px;	
				border-bottom: 1px solid #373737;
				&-item {
					.item-link-pages {
						padding: 12px 20px;
						display: flex;
						align-items: center;
						text-decoration: none;
						color: white;
						.page-icon {
							font-size: 22px;
							color: #AAAAAA;
						}
						.pages-title {
							margin-left: 25px;
						}
					}
					.item-link-pages:hover {
						background-color: #383838;
						.page-icon {
							font-size: 22px;
							color: white;
						}
					}
				}
			}
			.list-pages-span{
				color: #A0A0A0;
				font-weight: bold;
				padding: 15px;
				display: inline-block;
			}
			.list-pages {
				width: 100%;
				list-style-type: none;
				margin: 0;
				padding: 0;
				&-item{
					.item-link-channels {
						padding: 10px 20px;
						display: flex;
						align-items: center;
						text-decoration: none;
						color: white;
						.img-following-pages{
							border-radius: 50%;
						}
						.title-following-pages{
							margin-left: 18px;
						}
						.online-follwing-icon{
							width: 5px;
							height: 5px;
							background-color: blue;
							border-radius: 50%;
							margin-left: auto;
						}
						.page-icon {
							font-size: 22px;

						}
						.pages-title {
							margin-left: 25px;
						}
					}
					.item-link-channels:hover {
						background-color: #383838;

					}
				}

			}
			.copyright-text {
				color: #A0A0A0;
				display: inline-block;
				padding: 20px;
				font-size: 13px;
				text-decoration: none;
			}
			.copyright-text:hover {
				color: white;
			}
			.more-wrapper {
				display: flex;
				justify-content: center;
				.page-icon {
					font-size: 22px;
					color: grey;
				}
			}
			.more-wrapper:hover {
				background-color: #383838;
			}
		}
		&-main {
			overflow-y: scroll;
			height: 583px;
			background-color: #181818;
			width: 100%;
			padding-left: 246px;
			display: flex;
			flex-direction: column;
			.list-middle-links {
				width: 100%;
				display: flex;
				border-top: 1px solid #373737;
				border-bottom: 1px solid #373737;
				list-style-type: none;
				padding: 0;
				padding: 20px 25px;
				margin: 0;
				background-color: #202020;
				.item-middle-links{
					margin-right: 15px;
					.link-middle-links{
						text-decoration: none;
						color: #FCFCFC;
						padding: 7px 10px;
						background-color: #373737;
						border: 1px solid #4B4B4B;
						border-radius: 60px;
						font-size: 14px;
					}
					.link-middle-links:hover {
						background-color: #5C5C5C;
					}
					.link-middle-links:active {
						background-color: white;
						color: black;
						border: 1px solid transparent;
					}
				}	
			}
			.list-videos {
				list-style-type: none;
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: 0;
				padding: 25px;
				&-item {
					margin-right: 20px;
					margin-bottom: 30px;
					.div-video {
						iframe {
							width: 340px;
							height: 190px;
						}
					}
					.videos-text-wrapper {
						display: flex;
						align-items: center;
						margin-top: 10px;
						position: relative;
						.img-videos {
							border-radius: 50%;
							width: 40px;
							height: 40px;
							margin-right: 20px;
						}
						.heading-tertiary {
							margin: 0;
							padding: 0;
							color: white;
							font-size: 16px;
						}
						.icon-ellipsis {
							font-size: 25px;
							display: none;
							margin-left: auto;
							color: #AAAAAA;
						}
						.icon-ellipsis:hover {
							color: white;
						}
						.elipsis-wrapper {
							width: 200px;
							background-color: #212121;
							position: absolute;
							right: 0;
							top: 40px;
							.modal-icon{
								color: #909090;
								font-size: 20px;
							}
							#modalExit {
								color: white;
								margin-left: 150px;
								font-size: 25px;
								padding-top: 10px;
							}
							#modalExit:hover {
								opacity: .5;
							}
							.modal-elipsis{
								display: flex;
								align-items: center;
								padding: 10px 15px;
								.modal-icon {
									margin-right: 15px;
								}
								span {
									color: white;
								}
							}
							.modal-elipsis:hover{
								background-color: #5C5C5C;
							}
						}

					}
					.videos-text-extra {
						margin-top: 10px;
						display: flex;
						flex-direction: column;
						.videos-watching {
							color: #AAAAAA;
							font-size: 14px;
							padding: 2px;
							margin-left: 10px;
						}
					}
				}
				&-item:hover{
					.icon-ellipsis {
						display: inline-block;
					}
					.videos-watching {
						color: white;
					}
				}
				&-item:nth-child(3) {
					margin-right: 0;
				}
			}
		}

	}
}
::-webkit-scrollbar {
	// width: 20px;
	width: 8px;
	background-color: #212121;
	position: absolute;
}
::-webkit-scrollbar-thumb{
	background-color: #4A4A4A;
	height: 20%;
	border-radius: 10px;
	// width: 10px
}
// ::-webkit-scrollbar-track{
// 	background-color: #212121;
// }
