@media only screen and (max-width: 470px) {
	.container {
		max-width: 470px;
		.top {
			padding: 8px 10px;
			&-left {
				.top-left-modal{
					.icon {
						font-size: 20px;
					}
				}
				.link {
					margin-left: 0;
					img {
						width: 20px;
						height: 20px;
					}
					.top-left-title{
						font-size: 14px;
					}
				}
			}
			&-middle {
				.form-top {
					width: 190px;
					// height: 35px;
					padding: 4px;
					padding-right: 0;
					#searchInput {
						width: 200px;
						padding: 5px;
						font-size: 11px;
					}
					#searchButton {
						.icon {
							font-size: 14px;
							margin-left: -5px;
							padding: 5px;
						}
					}
					#searchButton:hover {
						.icon {
							color: #6F6F6F;
						}
					}
				}
				.btn-microphone {
					margin-left: -5px;
					.icon {
						font-size: 20px;
					}
				}
			}
			&-right {
				margin-right: 25px;
				&-icon {
					font-size: 18px;
					margin-right: 7px;
				}
				.link-admin {
					padding:  4px ;
					.icon {
						font-size: 15px;
					}
				}
			}
		}
		.middle{
			width: 100%;
			&-left {
				height: auto;
				width: 18%;
				height: 700px;
				.list-pages {
					width: 100%;
					padding-bottom: 5px;
					padding-top: 5px;	
					&-item {
						.item-link-pages {
							padding: 9px;
							flex-direction: column;
							justify-content: center;
							.page-icon {
								font-size: 16px;
							}
							.pages-title {
								margin-left: 0;
								font-size: 11px;
								margin-top: 3px;

							}
						}
						.item-link-pages:hover {
							background-color: #212121;
							.page-icon {
								color: #AAAAAA;
								font-size: 16px;
							}
						}
					}
				}
				.list-pages-span{
					padding: 5px;
					font-size: 11px;
					margin: 5px 0;
				}
				.list-pages {
					&-item{

						.item-link-channels {
							padding: 5px ;
							flex-direction: column;
							justify-content: center;
							.img-following-pages{
								width: 20px;
								height: 20px;
							}
							.title-following-pages{
								margin-left: 0px;
								font-size: 12px;
								margin-top: 3px;
							}
							.online-follwing-icon{
								width: 5px;
								height: 5px;
								margin-left: 0;
							}
							.page-icon {
								font-size: 15px;
							}
							.pages-title {
								margin-left: 8px;
								font-size: 12px;
							}
						}
						.item-link-channels:hover {
							background-color:#212121;
						}
					}
	
				}
				.copyright-text {
					padding: 3px;
					font-size: 10px;
				}
				.copyright-text:hover {
					color: #A0A0A0;
				}
				.more-wrapper {
					.page-icon {
						font-size: 22px;
						color: grey;
					}
				}
				.more-wrapper:hover {
					background-color: #383838;
				}
			}
			&-main {
				padding-left: 75px;
				height: 700px;
				.list-middle-links {
					border-top: 1px solid #373737;
					border-bottom: 1px solid #373737;
					padding: 0;
					padding: 10px;
					background-color: #202020;
					display: flex;
					flex-wrap: wrap ;
					.item-middle-links{
						margin-top: 5px;
						margin-bottom: 5px;
						margin-right: 15px;
						.link-middle-links{
							padding: 5px ;
							border: 1px solid #4B4B4B;
							border-radius: 30px;
							font-size: 11px;
						}
						.link-middle-links:hover {
							background-color: #373737;
						}
						.link-middle-links:active {
							background-color: white;
						}
					}	
				}
				.list-videos {
					flex-direction: column;
					align-items: center;
					padding: 5px;
					padding-top: 15px;
					&-item {

						margin-right: 0px;
						margin-bottom: 20px;
						.div-video {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 300px;
							height: 200px;
							iframe {
								width: 300px;
								height: 200px;
							}
						}
						.iframe-image{
							width: 300px;
							height: 200px;
						}
						.videos-text-wrapper {
							margin-top: 8px;
							// margin-left: 20px;
							.img-videos {
								width: 30px;
								height: 30px;
								margin-right: 10px;
							}
							.heading-tertiary {
								font-size: 13px;
							}
							.icon-ellipsis {
								font-size: 17px;
								display: inline-block;
								margin-left: 80px;
							}
							.icon-ellipsis:hover {
							}
							.elipsis-wrapper {
								width: 100px;
								background-color: #212121;
								position: absolute;
								right: 0;
								top: 20px;
								.modal-icon{
									font-size: 20px;
								}
								#modalExit {
									margin-left: 0;
									font-size: 20px;
									padding-top: 8px;
								}
								#modalExit:hover {
									opacity: .5;
								}
								.modal-elipsis{
									display: flex;
									align-items: center;
									padding: 5px 10px;
									.modal-icon {
										margin-right: 15px;
										font-size: 14px;
									}
									span {
										color: white;
										font-size: 14px;
									}
								}
								.modal-elipsis:hover{
									background-color: #5C5C5C;
								}
							}
	
						}
						.videos-text-extra {
							margin-top: 5px;
							.videos-watching {
								font-size: 11px;
								padding: 2px;
								margin-left: 0px;
							}
						}
					}
					&-item:hover{
						.icon-ellipsis {
							display: inline-block;
						}
						.videos-watching {
							color: #AAAAAA;
						}
					}
					&-item:nth-child(3) {
						margin-right: 0;
					}
				}
			}
		}
	}
	.none {
		display: none;
	}
	::-webkit-scrollbar {
	// width: 20px;
	width: 5px;
	background-color: #212121;
	position: absolute;
}
::-webkit-scrollbar-thumb{
	background-color: #4A4A4A;
	height: 20%;
	border-radius: 10px;
}
}
@media only screen and (max-width: 430px) {
	.container {
		max-width: 430px;
	}
}
@media only screen and (max-width: 420px) {
	.container {
		max-width: 420px;
	}
}
@media only screen and (max-width: 410px) {
	.container {
		max-width: 420px;
	}
}
@media only screen and (max-width: 400px) {
	.container {
		max-width: 400px;
		.top {
			padding: 5px 0	;
			&-left {
				.top-left-modal{
					.icon {
						font-size: 0;
					}
				}
				.link {
					margin-left: 5px;
					img {

					}
					.top-left-title{
						font-size: 12px;
					}
				}
			}
			&-middle {
				.form-top {
					width: 160px;
					height: 30px;
					padding: 0;
					#searchInput {
					}
					#searchButton {
						.icon {
							margin-left: -12px;
						}
					}
				}
				.btn-microphone {
					.icon {
						font-size: 17px;
					}
				}
			}
			&-right {
				margin-right: 20px;
				&-icon {
					font-size: 15px;
					margin-right: 8px;
				}
				.link-admin {
					padding:  5px ;
				}
			}
		}
		.middle{
			&-left {
				height: 740px;
				.list-pages {
					width: 100%;
					padding-bottom: 5px;
					padding-top: 5px;	
					&-item {
						.item-link-pages {
							padding: 9px;
							flex-direction: column;
							justify-content: center;
							.page-icon {
								font-size: 16px;
							}
							.pages-title {
								margin-left: 0;
								font-size: 11px;
								margin-top: 3px;

							}
						}
						.item-link-pages:hover {
							background-color: #212121;
							.page-icon {
								color: #AAAAAA;
								font-size: 16px;
							}
						}
					}
				}
				.list-pages-span{
					padding: 5px;
					font-size: 11px;
					margin: 5px 0;
				}
			}
			&-main {
				padding-left: 65px;
				height: 740px;
				.list-videos {
					padding: 15px;
					&-item {
						margin-right: 0px;
						margin-bottom: 20px;
						.div-video {
							iframe {
								width: 270px;
								height: 200px;
							}
						}
						.videos-text-wrapper {
							margin-top: 5px;
							.img-videos {
								width: 30px;
								height: 30px;
								margin-right: 10px;
							}
							.heading-tertiary {
								font-size: 13px;
							}
							.icon-ellipsis {
								font-size: 17px;
								display: inline-block;
								margin-left: 80px;
							}
							.icon-ellipsis:hover {
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 390px) {
	.container {
		max-width: 390px;
	}
}
@media only screen and (max-width: 380px) {
	.container {
		max-width: 380px;
	}
}
@media only screen and (max-width: 360px) {
	.container {
		max-width: 360px;
	}
}@media only screen and (max-width: 350px) {
	.container {
		max-width: 350px;
	}
}